<!DOCTYPE html>
<html>
  <head>
    <title>シフトの蔵</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-logo">
        <!-- 以下の1行を削除し、指定されたHTMLを貼り付けてください -->
        シフトの蔵
      </div>
      <ul class="header-menus">
        <% if @current_user %>
          <li>
            <%= link_to("myシフト表", "/users/#{@current_user.id}") %>
          </li>
          <li>
            <%= link_to("シフト管理", "/admin/posts/new") %>
          </li>
          <li>
            <%= link_to("ログアウト", "/logout", {method: "post"}) %>
          </li>
        <% end %>
      </ul>
    </header>

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>